.name{

}

.buttonPict{
  align-items: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 3%;

}

.ProfilePic img{
  width: 50%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ProfilePic{
  display: flex;
  flex-direction: row;
  width: 40%;
  height: 40%;
}
.name{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
}
.name p{
  text-align: center;
  align-items: center;
  align-content: center;
}

.Left-Text{
  width: 40%;
}

.Left-Text p{
  padding-left: 10%;
}

.Right-Text{
  width: 60%;
}

.Right-Text p{
  padding-left: 10%;
}

.Text{
  display: flex;
  flex-direction: row;
  padding-top: 40px;
}

.Header{
  display: flex;
  flex-direction: row;
}

.Riwayat{
  margin-top: 40px;
  padding-left: 10%;
  border-top: solid;
}

.circle img{
  border-radius: 50%;
}

.buttonPict button {
  border-radius: 8px;
  background-color: aquamarine;
  font-size: 20px;
  padding: 10px;
}


.panel {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 250%;
  transition: 0.4s;
}

.panel p {
  background-color: white;
  text-align: center;
}